doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Caveat:wght@500;700&family=Kaushan+Script&display=swap",rel="stylesheet")

        link(rel="stylesheet", href="./css/styles.css")
    body 
        h1.h1   Eh's Data
                hr
        if (status)
            each data in list 
                h2 #{data.title}
                h4 #{data.description}
                h4 #{data.content}
                hr
        else 
            h1 We Failed Call Data in Database 